<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>
        Retrieve Data
    </title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    h2{
        color:darkmagenta;
    }
    th{
        color:red;
        padding:10px
    }
    td{
        color:blue;
    }
    body{
        background-color: aqua;
    }
</style>
</head>
<body>
<center>
<h2>Cutomer Data</h2>
<table border="2">
    <thead>
        <tr>
            <th>Product Number</th>
            <th>Product Name</th>
            <th>Product Cost</th>
            <th>Product Class</th>
            <th>Product Weight</th>
        </tr>
    <tr>
        <td>101</td>
        <td>Mouse</td>
        <td>20000</td>
        <td>High</td>
        <td>3</td>
    </tr>
    <tr>
        <td>101</td>
        <td>Mouse</td>
        <td>20000</td>
        <td>High</td>
        <td>3</td>
    </tr>
    <tr>
        <td>102</td>
        <td>Keyboard</td>
        <td>200000</td>
        <td>High</td>
        <td>400</td>
    </tr>
    <tr>
        <td>103</td>
        <td>Mobile</td>
        <td>500</td>
        <td>Low</td>
        <td>4</td>
    </tr>
    <tr>
        <td>104</td>
        <td>Tab</td>
        <td>500</td>
        <td>High</td>
        <td>5</td>
    </tr>
    </thead>
</table>
</center>
</body>
</html>